
/* http://stackoverflow.com/a/1956141 */

#map_and_toolbar {
    position: relative;
}

#themap {
    height: 800px;
    width: 100%;
}

#toolbar {
    position: absolute;
    bottom: 5;
    left: 5;
}

.editor_active { background: #ffc; }
.source_table table { background: #fcf; }
